.user-info__button_edit {
    margin: 20px 0 0 0;
    width: 38px;
    height: 18px;
    font-size: 12px;
}

@media screen and (max-width: 980px) {
    .user-info__button_edit {
        position: static;
        margin-bottom: 40px;
    }
}