.popup__content-image {
    max-width: 80vw;
    max-height: 80vh;
    position: relative;
    box-sizing: border-box;
    padding: 5px 5px;
  }
  
  @media screen and (max-width: 540px) {
    .popup__content-image {
      width: calc(100% - 60px);
    }
  }
  